body {
  background-image: url('../img/background.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  width: 1440px;
  height: 2705px;
}

a{
  margin: 20px;
  color: blue;
}

a:hover{
 color: purple;
 background-color: #ffb20a;
}

h1 {
  display: inline-block;
    padding: 10px 20px; 
    margin: 5px; 
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    font-family: "Shippori Mincho B1-Bold", Helvetica;
    font-weight: 700;
    font-size: 70px;
    border-radius: 5px; 
    border: 6px solid #967ecf;
    background-color: #7483bd;
}
h2 {
  display: inline-block;
    padding: 10px 20px; 
    margin: 5px; 
    color: #ffffff;
    text-decoration: none;
    font-family: "Shippori Mincho B1-Bold", Helvetica;
    font-weight: 700;
    border-radius: 5px; 
    border: 6px solid #967ecf;
    background-color: #7483bd;
    align-items: flex-end;
}

h3{
  display: inline-block;
  
  padding: 10px 20px; 
  margin: 5px; 
  color: #ffffff;
  text-decoration: none;
  font-family: "Shippori Mincho B1-Bold", Helvetica;
  font-weight: 700;
  border-radius: 5px; 
  border: 6px solid #967ecf;
  background-color: #7483bd;
  max-width: 30%;
  margin-left: 472px;
  margin-bottom: 40px;
  margin-top: 30px;
}


h4{
  display: block;
    padding: 10px 20px; 
    margin: 5px; 
    color: #ffffff;
    text-decoration: none;
    font-family: "Shippori Mincho B1-Bold", Helvetica;
    font-weight: 700;
    border-radius: 5px; 
    border: 6px solid #967ecf;
    background-color: #7483bd;
    width:fit-content;
    align-items: center;
}

nav {
    height: 90px;
    background-color: #317873;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around; 
    align-items: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 9999;
   }   

   nav a {
    display: inline-block;
    padding: 10px 20px; 
    margin: 5px; 
    color: #ffffff;
    text-decoration: none;
    font-family: "Shippori Mincho B1-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px; 
    border: 6px solid #967ecf;;
    background-color: #7483bd;
  }

#image\one {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background-color: #317873;
 max-width: 100%;
 margin: 0 auto;
 padding: 20px;
 border-radius: 5px;
border: 6px solid #967ecf;
}

#image\two {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background-color: #317873;
 max-width: 100%;
 margin: 0 auto;
 padding: 20px;
} 

#image\three {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
 background-color: #317873;
 max-width: 100%;
 margin: 0 auto;
 padding: 20px;
}

article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #317873;
  color: black;
  padding: 40px;
  line-height: 20px;
  margin: 0;
  max-width: 80%;
  border-radius: 100px;
  border: 12px solid #967ecf;
  margin-left: 10px;
}

article p {
  flex: 1;
  margin-left: 100px; 
  max-height: 500px;
  color: white;
    text-decoration: none;
    font-family: "Shippori Mincho B1-Bold", Helvetica;
    line-height: 25px;
    text-align: center;
  
}

article img {
  max-width: 500px;
  height: auto;
  background-color: transparent;
  border-radius: 100px;
  border: 12px solid #967ecf;
}

#charging article {
  max-width: 600px;
}

#charging article img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#charging article h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#battery article {
  max-width: 600px;
  align-items: center;
}

#battery article img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}
#battery article h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#motor article {
  max-width: 600px;
  margin-left: 725px;
  top: 10%;
  transform: translateY(-160%);
  
}

#motor article img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
#motor article h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}